<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>212 Data Vis</title>

	<style>
		* {
			margin: 0;
			padding: 0;
		}

		body {
			overflow: hidden;
		}

		canvas {
			display: block;
			cursor: ew-resize;
		}
	</style>
</head>
<body>
	<canvas id="canvas"></canvas>
	<div class="ui">
		<div class="sidebar">
			<div class="header">
				<h1>eeg breath counting</h1>
				<h2>10,000 samples</h2>
				<h2>78 signals</h2>
			</div>
			<div class="controls">
				<div class="modes">
					<div class="btn mode" id="mode1"></div>
					<div class="btn mode" id="mode2"></div>
					<div class="btn mode" id="mode3"></div>
				</div>
				<div class="datasets">
					<select name="dataset">
						<option value="eeg_data_a_x1">dataset a x1</option>
						<option value="eeg_data_a_x5">dataset a x5</option>
						<option value="eeg_data_a_x20">dataset a x20</option>
					</select>
				</div>
				<div class="time">
					<div class="btn timeElement" id="fastReverse"></div>
					<div class="btn timeElement" id="reverse"></div>
					<div class="timeElement" id="display">5.54923925</div>
					<div class="btn timeElement" id="pause"></div>
					<div class="btn timeElement" id="forward"></div>
					<div class="btn timeElement" id="fastForward"></div>
					<div class="progress"></div>
				</div>
			</div>
		</div>
	</div>
	<footer>Grandchamp R, Braboszcz C and Delorme A (2014) Oculometric variations during mind wandering. Front. Psychol. 5:31. doi: 10.3389/fpsyg.2014.00031</footer>

	<script>
		var canvas = document.getElementById("canvas"),
			ctx = canvas.getContext("2d"),
			win = {
				width: 0,
				height: 0
			},
			cursor = {
				x: 0,
				y: 0,
				down: false,
				start: 0
			},
			data = {},
			tiles = {
				wide: 50,
				high: 30,
				size: 10
			},
			time = 0,
			speed = 1;

		// Get json eeg data
		var getJSONreq = new XMLHttpRequest();
		getJSONreq.open("GET", "{{ url_for('static', filename='eeg_data.json') }}");
		getJSONreq.responseType = "json";
		getJSONreq.send();

		getJSONreq.onload = function() {
			data = getJSONreq.response;
			loop();
		}

		function resize() {
			win = {
				width: window.innerWidth,
				height: window.innerHeight
			}
			canvas.width  = win.width;
			canvas.height = win.height;
		}
		function seedRandom(seed) { // Mostly for testing, produces predictable randomness
			var x = Math.sin(seed) * 10000;
			return x - Math.floor(x);
		}
		function map(input, sMin, sMax, tMin, tMax) {
			return (input - sMin) * (tMax - tMin) / (sMax - sMin) + tMin;
		}

		function drawCircles() {
			var width = win.width * 1,
				height = win.height * 1;

			ctx.save();
			ctx.translate(win.width / 2 - (tiles.wide * tiles.size * 2) / 2, win.height / 2 - (tiles.high * tiles.size * 2) / 2); // Calculate tile block size and center using window width and height
			ctx.translate(tiles.size, tiles.size); // Offset circle to correct coordinates to be from top left
			ctx.globalAlpha = 0.6;

			var count = 0;
			for (var i = 0; i < tiles.high; i++) {
				for (var j = 0; j < tiles.wide; j++) {
					ctx.beginPath();
					ctx.arc(j * tiles.size * 2, i * tiles.size * 2, tiles.size + Math.abs(data[time + count]["1"] % 60) / 2, 0, 2 * Math.PI);

					ctx.fillStyle = "hsl("+ (data[time + count]["2"]) +", "+ Math.abs(data[time + count]["3"] % 100) +"%, "+ (seedRandom(count) * 80 + 10) +"%)";
					ctx.fill();

					count++;
				}
			}
			ctx.restore();
		}
		function drawLines() {
			ctx.save();
			ctx.globalAlpha = 0.6;
			ctx.lineWidth = 1.4;

			for (var j = 0; j < 10; j++) {
				ctx.beginPath();
				for (var i = 0; i < win.width / 4; i++) {
					ctx.lineTo(i * 4, data[i + time][j] % 80);
					//ctx.moveTo(i * 4, data[i + time][j] % 80);
					//ctx.quadraticCurveTo((i + 1) * 4, data[i + time + 1][j] % 80, (i + 2) * 4, data[i + time + 2][j] % 80); // Draw curve between every 1st and 3rd datapoint using 2nd as handle
				}
				ctx.stroke();
				ctx.translate(0, win.height / 10);
			}
			ctx.restore();

/*			ctx.beginPath();
			ctx.lineTo(time, 0);
			ctx.lineTo(time, win.height);
			ctx.stroke();*/
		}
		function loop() {
			ctx.restore();
			ctx.save();
			ctx.clearRect(0, 0, win.width, win.height);
			ctx.globalCompositeOperation = "overlay";

			// Manage time
			if (cursor.down) {
				time += (cursor.start - cursor.x);
				cursor.start = cursor.x;
			}
			time += speed;
			time %= 10000 - tiles.wide * tiles.high;
			time = Math.max(time, 0);

			drawCircles();
			if (cursor.down) drawLines();

			requestAnimationFrame(loop);
		}

		window.addEventListener("resize", resize);
		window.addEventListener("mousemove", function(event) {
			cursor.x = event.pageX;
			cursor.y = event.pageY;
		});
		window.addEventListener("mousedown", function(event) {
			cursor.down = true;
			cursor.start = cursor.x;

			speed = 0;
		});
		window.addEventListener("mouseup", function(event) {
			cursor.down = false;
			speed = 1;
		});

		resize();
	</script>
</body>
</html>